<div class="main-content col-7">
  <div class="post-title">
    <h1>Hello. This is Sample Title!!</h1>
  </div>
  <div class="post-text">
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>
    <br>
    <p>これは、サンプルの文章になります。内容は適当に考えております。</p>

  </div>
</div>
<div class="main-edge col-2">
  <p>Page Info.</p>
  <br>
  <p>(/・ω・)/</p>
  <p>(/・ω・)/</p>
</div>
