<div class="main-content col-7">
  <div class="post-title">
    <h1>Hello. Welcome to Next Article Page</h1>
  </div>
  <div class="post-text">
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>
    <p>nextのページ記事内容です。サンプルの文章って考える大変ですよね。</p>
    <br>

  </div>
</div>
<div class="main-edge col-2">
  <p>Page Info.</p>
  <br>
  <p>(。-｀ω´-)ぅぃ</p>
  <br>
  <p>(。-｀ω´-)ぅぃ</p>
  <br>
</div>
